 

.about-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

/* Main container for the image */
.about-image-section {
    width: 100vw;
    height: 105vh;
    overflow: hidden;
    position: relative;
    
}



.about-image-section img {
    width: 100%;
     
}

.about-text {
    max-width: 800px;
    text-align: center;
 }

/* Responsive Design for Tablets */
@media (max-width: 768px) {
    .about-content-section {
        padding: 10px;
    }

    .about-text {
        margin-bottom: 0;
    }
}

/* Responsive Design for Mobile */
@media (max-width: 480px) {
    .about-image-section {
        height: 80vh;  /* Adjust height for mobile */
     }

    .about-content-section {
        margin-top: 0;
        padding-top: 0;
    }
}











/* Main container for the image */


/* Text content container */
/* 




/* Responsive Design for Mobile 
@media (max-width: 480px) {
    .about-text h1 {
        font-size: 24px;
        margin: 5px 0;
    }

    .about-text h2 {
        font-size: 20px;
        margin: 5px 0;
    }

    .about-text p {
        font-size: 16px;
    }

    .about-image-section {
        height: 80vh; /* Adjust height for smaller screens 
    }
} */
