.footer {
    background-color: #003366; /* Background color */
    color: #F1F1F1; /* Text color */
    text-align: center;
    padding: 20px; /* Padding */
}

.footer-content {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Spread items across the row */
    max-width: 1200px; /* Optional: Limit the width of the footer content */
    margin: 0 auto; /* Center footer content */
}

.footer_logo {
    flex: 1; /* Take equal space */
    display: flex;
    align-items: center; /* Center vertically */
}

.footer_logo img {
    max-width: 100px; /* Set a maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
}

.contact-info {
    flex: 2; /* Take more space compared to logo */
    text-align: left; /* Align text to the left */
}

.social_media {
    display: flex;
    align-items: center;
    flex: 1; /* Take equal space */
}

.social_media a {
    margin-left: 20px; /* Adjust spacing between icons as needed */
}

.Contact-Uscolor {
    color: #ff2b01;
}

.footer-bottom {
    margin-top: 20px; /* Spacing above the bottom section */
}

.divider {
    border: 0;
    height: 1px;
    background: #ffffff; /* White line */
    margin: 20px 0; /* Spacing around the line */
}

.copyright-notice {
    font-size: 14px; /* Font size */
    color: #F1F1F1; /* Text color */
}
