/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-links {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 140px;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
    margin-right: 20px;
}

.college-info h1 {
    margin: 0;
    font-size: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff3232;
    color: #fff;
}

/* Add a line between menu items */
/* nav ul li {
    padding: 10px 0;
} */

/* Responsive Design */
.menu-icon {
    display: none;
    cursor: pointer;
    color: #003366;
    
}

.nav-links.open {
    display: block;
}

@media screen and (max-width: 720px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #003366;
        position: absolute;
        top: 140px;
        right: 0;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    nav ul li:last-child {
        border-bottom: none; /* Remove line for the last item */
    }
}

/* Media query for 480px screens */
@media screen and (max-width: 480px) {
    .logo img {
        max-height: 80px; /* Adjust logo size for smaller screens */
    }

    .college-info h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    .nav-links {
        top: 120px; /* Adjust the position for smaller screens */
    }

    nav ul li {
        padding: 15px 0; /* Increase padding between menu items */
    }
}

