/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.nav-links {
    background-color: #003366;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Keeps the header on top of regular content but below the modal */
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 140px;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
    margin-right: 20px;
}

.college-info h1 {
    margin: 0;
    font-size: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 5px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.HeaderP {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.HeaderP:hover {
    background-color: #ff3232;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transform: scale(1.2); /* Increase size on hover */
}

/* Responsive Design */
.menu-icon {
    display: none;
    cursor: pointer;
    color: #003366;
}

.nav-links.open {
    display: block;
}

/* Media Queries for Responsive */
@media screen and (max-width: 720px) {
    .HeaderP {
        padding: 5px;
        text-align: center;
        width: 100%;
    }

    .nav-links { 
        position: sticky;
        display: none;
        flex-direction: column;
        background-color: #003366;
        position: absolute;
        top: 140px;
        right: 0;
        width: 100%;
        padding: 0;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
    }

    nav ul li {
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    nav ul li:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 480px) {
    .logo img {
        max-height: 80px;
    }

    .college-info h1 {
        font-size: 30px;
    }

    .nav-links {
        top: 120px;
        padding: 0;
    }

    nav ul li {
        padding: 15px 0;
    }
}
