.message-pdf {
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(135deg, rgb(37, 34, 119), #f90);
    padding: 20px;
    position: relative;
}

.image-container {
    overflow: hidden;
    position: relative;
    width: 100%; /* Ensures container doesn't scroll unexpectedly */
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 10px; 
    transition: transform 0.5s ease-in-out; /* Smooth sliding transition */
}

.image-item {
    position: relative;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.image-item.selected {
    border: 3px solid #007bff;
    transform: scale(1.05);
}

.pdf-image {
    width: 100%;
    height: auto;
    aspect-ratio: 9 / 19;
    object-fit: cover;
    border-radius: 10px;

}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.message-pdf h1{
    text-align: left;
    color: #ffffff;


}

.pdf-viewer {
    background-color: #f0f0f0;
    padding: 20px;
    position: relative;
}

.close-btn {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.arrow-btn.left {
    left: 0;
}

.arrow-btn.right {
    right: 0;
}

.arrow-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
