.message-pdf {
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(135deg, rgb(37, 34, 119), #f90);
    position: relative;
}

.image-container {
    width: 80%;
    margin: 0 auto; /* Center the slider container */
}

.slick-prev,
.slick-next {
    color: #f90;
    font-size: 30px;
}

.slick-dots li button:before {
    color: #f90;
}

/* Remove padding to eliminate gaps */
.slick-slide {
    padding: 0;
}

.image-item {
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.image-item.selected {
    border: 3px solid #007bff;
    transform: scale(1.05);
}

.pdf-image {
    width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.close-btn,
.download-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #f90;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover,
.download-btn:hover {
    background-color: #e57d00;
}

/* Combine media queries */
@media (max-width: 720px) {
    .slick-slide {
        padding: 0; /* Ensure no padding on smaller screens */
    }
}
