/* .youtube-video-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2; /* Light background color 
  /* border-radius: 15px; Rounded shape for the whole container 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth 
} */
/* Default styling for larger screens */
.youtube-video-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, rgb(93, 65, 76), #4a90e2); /* Linear gradient */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.youtube-video-container h1 {
  color: #ffffff;
  size: 50px;
}

.video-section {
  margin-top: 20px;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
}

.featured-video-wrapper {
  flex: 2;
  margin-right: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-videos-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.video-wrapper {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

iframe {
  border-radius: 15px;
}

.subscribe-button-container {
  text-align: left;
  margin-bottom: 20px;
}

.subscribe-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.show-more-btn {
  margin-top: 20px;
  background: linear-gradient(135deg, rgb(255, 18, 113), #000000);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.show-more-btn:hover {
  background-color: #0056b3;
}

.youtube-icon {
  margin-right: 8px;
}

/* Media query for screens 720px and below */
@media (max-width: 720px) {
  .video-row {
    flex-direction: column;
  }

  .featured-video-wrapper {
    flex: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .small-videos-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .video-wrapper {
    flex: 1 1 48%;
    margin-right: 0;
  }

  .youtube-video-container {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  .subscribe-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .show-more-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}

/* Media query for screens 480px and below */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .video-row {
    flex-direction: column;
  }

  .featured-video-wrapper,
  .small-videos-wrapper {
    flex: none;
  }

  .video-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .youtube-video-container {
    padding: 5px;
  }

  .subscribe-button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .show-more-btn {
    font-size: 14px;
    padding: 6px 12px;
  }
}
